<div class="mb-3 text-center">
<!--    <form class="form-signin" ng-submit="trySignUp()" style="max-width: 350px; padding: 15px; margin: 0 auto;">-->
<!--        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста зарегистрируйтесь</h1>-->
<!--        <label for="inputUsername" class="sr-only">Имя пользователя</label>-->
<!--        <input type="text" ng-model="newUser.username" id="inputUsername" class="form-control" placeholder="Имя пользователя" style="margin-bottom: 10px;" required="">-->
<!--        <label for="inputPassword" class="sr-only">Пароль</label>-->
<!--        <input type="password" ng-model="newUser.password" id="inputPassword" class="form-control" placeholder="Пароль" style="margin-bottom: 10px;" required="">-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегестрироваться</button>-->
<!--    </form>-->
<!--    -->
    <form novalidate ng-submit="trySignUp()">
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста зарегистрируйтесь</h1>
        <div class="form-group col-md-6">
            <label for="newUserName">Имя пользователя</label>
            <input class="form-control" type="text" ng-model="newUser.username" id="newUserName">
        </div><div class="form-group col-md-6">
            <label for="newUserEmail">Почта</label>
            <input class="form-control" type="text" ng-model="newUser.email" id="newUserEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="newUserPass">Пароль</label>
            <input class="form-control" type="text" ng-model="newUser.password" id="newUserPass">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Зарегистрироваться</button>
        </div>
    </form>

</div>