<div>
    <h3>Заказы</h3>

    <form novalidate ng-submit="fillOrderTable()">
        <div class="form-group col-md-6">
            <label for="getOrders">Выберите статус заказов</label>
            <select class="form-control" ng-model="status" id="getOrders">
                <option value="">ALL</option>
                <option value="NEW">NEW</option>
                <option value="IN_PROGRESS">IN_PROGRESS</option>
                <option value="DONE">DONE</option>
            </select>
            <button class="btn btn-success" type="submit">Найти</button>
        </div>
    </form>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Номер заказа</td>
            <td>Клиент</td>
            <td>Цена</td>
            <td>Адрес</td>
            <td>Телефон</td>
            <td>Статус</td>
            <td>Состав заказа</td>
            <td></td>

        </tr>

        <tbody>
        <tr ng-repeat="ao in adminOrders">
            <td>{{ao.id}}</td>
            <td>{{ao.username}}</td>
            <td>{{ao.price}}</td>
            <td>{{ao.address}}</td>
            <td>{{ao.phone}}</td>
            <td>{{ao.status}}</td>
            <td>{{ao.items.length}}&emsp;Позиций всего:
                <ul>
                    <li ng-repeat="i in ao.items" style="list-style-type: none;">{{i.quantity}}&emsp;{{i.productTitle}}</li>
                </ul>
            </td>
            <td ng-if="ao.status == 'DONE'"></td>
            <td ng-if="ao.status == 'NEW'">
                <form novalidate ng-submit="setNewStatus(ao.id, selectedStatus)">
                    <div class="form-group col-md-6">
                        <label for="setStatus">Выберите статус заказа</label>
                        <select class="form-control" ng-model="selectedStatus" id="setStatus">
                            <option value="IN_PROGRESS">IN_PROGRESS</option>
                            <option value="DONE">DONE</option>
                        </select>
                        <button class="btn btn-success" type="submit">Обновить</button>
                    </div>
                </form>
            </td>
            <td ng-if="ao.status == 'IN_PROGRESS'">
                <form novalidate ng-submit="setNewStatus(ao.id, selectedStatus)">
                    <div class="form-group col-md-6">
                        <label for="setStatus2">Выберите статус заказа</label>
                        <select class="form-control" ng-model="selectedStatus" id="setStatus2">
                            <option value="DONE">DONE</option>
                        </select>
                        <button class="btn btn-success" type="submit">Обновить</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>