<div>
    <h2>Товары</h2>
    <h3>Фильтр</h3>
    <form novalidate ng-submit="applyFilter()">
        <div class="form-group col-md-6">
            <label for="productFilterTitle">Название товара</label>
            <input class="form-control" type="text" ng-model="productFilter.title" id="productFilterTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="productFilterMinPrice">Минимальная цена</label>
            <input class="form-control" type="number" ng-model="productFilter.minPrice" id="productFilterMinPrice">
        </div>
        <div class="form-group col-md-6">
            <label for="productFilterMaxPrice">Максимальная цена</label>
            <input class="form-control" type="number" ng-model="productFilter.maxPrice" id="productFilterMaxPrice">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Применить фильтр</button>
        </div>
    </form>


    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="p in Products">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" ng-click="fillTable()">Обновить</button>






    <h3>Добавить новый товар</h3>
    <form novalidate ng-submit="submitCreateNewProduct()">
        <div class="form-group col-md-6">
            <label for="elementTitle">Название</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="elementTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="elementPrice">Цена</label>
            <input class="form-control" type="number" ng-model="newProduct.price" id="elementPrice">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>