<div>
    <h3>Добавить новый товар</h3>
    <form novalidate ng-submit="submitCreateNewProduct()">
        <div class="form-group col-md-6">
            <label for="elementTitle">Название</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="elementTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="elementPrice">Цена</label>
            <input class="form-control" type="number" ng-model="newProduct.price" id="elementPrice">
        </div>
        <div class="form-group col-md-6">
            <label for="elementCategories">Выберите Категории</label>
            <select class="form-control" multiple="multiple"  ng-model="categories" id="elementCategories">
                <option value="{{c.id}}" ng-repeat="c in Category">{{c.name}}</option>
            </select>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>

    <form novalidate ng-submit="submitCreateNewCategory()">
        <div class="form-group col-md-6">
            <label for="newCategoryName">Название</label>
            <input class="form-control" type="text" ng-model="newCategory.name" id="newCategoryName">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Добавить новую категорию</button>
        </div>
    </form>

    <h3>Заказы</h3>

    <form novalidate ng-submit="fillOrderTable()">
    <div class="form-group col-md-6">
        <label for="getOrders">Выберите статус заказов</label>
        <select class="form-control" ng-model="status" id="getOrders">
            <option value="">ALL</option>
            <option value="NEW">NEW</option>
            <option value="IN_PROGRESS">IN_PROGRESS</option>
            <option value="DONE">DONE</option>
        </select>
        <button class="btn btn-success" type="submit">Найти</button>
    </div>
    </form>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Номер заказа</td>
            <td>Клиент</td>
            <td>Цена</td>
            <td>Адрес</td>
            <td>Телефон</td>
            <td>Статус</td>
            <td>Состав заказа</td>

        </tr>

        <tbody>
        <tr ng-repeat="ao in adminOrders">
            <td>{{ao.id}}</td>
            <td>{{ao.username}}</td>
            <td>{{ao.price}}</td>
            <td>{{ao.address}}</td>
            <td>{{ao.phone}}</td>
            <td>{{ao.status}}</td>
            <td>{{ao.items.length}}&emsp;Позиций всего:
                <ul>
                    <li ng-repeat="i in ao.items" style="list-style-type: none;">{{i.quantity}}&emsp;{{i.productTitle}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>