<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Редактировать продукт</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Изменить данные продукта</h1>
    <form th:action="@{/prod/edit}" th:object="${product}" method="POST">
        <div class="form-inline">
            <input hidden th:field="*{id}"/>
        </div>
        <div class="form-inline mx-sm-3">
            <label for="title" class="sr-only">title</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="title" th:field="*{title}">
            </div>
        </div>
        <div class="form-inline mx-sm-3">
            <label for="price" class="sr-only">price</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price" th:field="*{price}">
            </div>
        </div>
        <br>
        <div class="form-inline mx-sm-3">
            <button type="submit" class="btn btn-primary">Изменить</button>
        </div>
    </form>




</body>
</html>