<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Работа с товарами</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Products)}" />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span>Изменение товара</span></h4>
                </header>
                <article class="card-body">
                    <form th:action="@{/products/edit}" th:object="${product}" method="POST">
                        <input th:field="*{id}" type="hidden" class="form-control">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Наименование</label>
                                <input th:field="*{title}" type="text" class="form-control" placeholder="Название">
                            </div>
                            <div class="col form-group">
                                <label>Цена</label>
                                <input th:field="*{price}" type="number" class="form-control" placeholder="Цена">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>