<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(SignUp)}" />


    <h3>rega</h3>

    <form method="POST" th:action="@{/signup}">
        <div class="form-group col-md-6">
            <label for="nameInput">Login</label>
            <input class="form-control"  name="username" type="text" id="nameInput">
        </div>
        <div class="form-group col-md-6">
            <label for="passInput">Password</label>
            <input class="form-control" name="password" type="text" id="passInput">
        </div>
        <div class="form-group col-md-6">
            <label for="email">e-mail</label>
            <input class="form-control"  name="email" type="text" id="email">
        </div>

        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>

    </form>

</div>

</body>
</html>